*,
*::before,
*::after,
*::first-letter,
*::first-line {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 80px 40px 1fr 40px / 1fr 150px;
    gap: 5px;



    text-align: center;
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: 1 / 1 / 2 / -1;
    
    background-color: darkcyan;
}

nav {
    grid-area: 2 / 1 / 3 / -1;
    
    background-color: darkkhaki;
}

main {
    grid-area: 3 / 1 / -2 / 2;
    
    background-color: wheat;
}

aside {
    grid-area: 3 / -2 / -2/ -1;
    
    background-color: tomato;
}

footer {
    grid-area: -2 / 1 / -1 / -1;
    
    background-color: blueviolet;
}