*,
*::before,
*::after,
*::first-letter,
*::first-line {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(4, 1fr);
    text-align: center;
    height: 100vh;
}

header {
    grid-area: 1 / 1 / span 2 / -1;
    
    background-color: darkcyan;
}

nav {
    grid-area: 3 / 1 / span 1 / -1;
    
    background-color: darkkhaki;
}

main {
    grid-area: 4 / 1 / -2 / -2;
    
    background-color: wheat;
}

aside {
    grid-area: 4 / -2 / -2 / -1;
    
    background-color: tomato;

}

footer {
    grid-area: -2 / 1 / -1 / -1;
    
    background-color: blueviolet;
}