body {
    display: grid;
    grid-template: repeat(10, 50px) / repeat(4, 1fr);
}

header {
    grid-area: 1 / 1 / span 2 / -1;
    
    background-color: darkcyan;
}

nav {
    grid-area: 3 / 1 / span 1 / -1;
    
    background-color: darkkhaki;
}

main {
    grid-area: 4 / 1 / -2 / -2;
    
    background-color: wheat;
}

aside {
    grid-area: 4 / -2 / -2 / -1;
    
    background-color: tomato;
}

footer {
    grid-area: -2 / 1 / -1 / -1;
    
    background-color: blueviolet;
}