@charset "UTF-8";

*,
*::before,
*::after,
*::first-letter,
*::first-line {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header, section.normal {
    padding: 20px;
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

section.flex-content {
    padding: 20px;
    background-color: lightslategray;
}