@charset "UTF-8";

*,
*::before,
*::after,
*::first-letter,
*::first-line {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header, section.normal {
    padding: 20px;
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}

h1 {
    line-height: 1em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

section.flex-content {
    padding: 20px;
    background-color: lightslategray;

    display: flex;
    flex-flow: column nowrap;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* s처 funciona se n찾o tiver stretch funcionando */
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between; /* s처 funciona se n찾o tiver stretch funcionando */
}

article > div.text {
    flex: 1 1 400px;

    padding: 20px 20px 0px 0px;
}

article > div.media {
    flex: 1 1 400px;

    padding-top: 20px;
    
    align-self: center;
}

div.media > img, div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;
    max-width: 400px;
}
